body {
  background-color: black;
  color: white; }

#appHeader h1 {
  text-align: center;
  margin-down: 0px; }

svg {
  display: block; }

#infoBox {
  text-align: center; }
  #infoBox ol {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px; }

#about {
  width: 100%; }

.btnCloud {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  display: inline-flex;
  transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }

.activeCloud {
  background-color: #ff4081; }

.disabledCloud {
  background-color: #00bcd4; }

.cloudTag {
  transition: opacity 1s ease-in-out; }
