@import "bourbon/bourbon";
@import "mixins";

body, html{
    background-color: black;
    color: white;
    height:100%;
    margin: 0;
}

.appFrameWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    @include transition-property(top);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in-out);
}

#fixedNav{
    position: fixed;
    width: 100%;
    top: 0;
}

#AppContainer{
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    width: 100%;
}

.appHeader{
    @include display(flex);
    @include flex-wrap(wrap);
    position: relative;
    background-color: black;
    padding: 5pt 0.5em 0 0.5em;
}
.appNameWraper{
    @include flex(1 1 auto);
    h1{
        text-align: left;
        font-size: 1.5em;
        margin: 0;
    }
}
.navButtonsWraper{
    @include flex(1 0.5 auto);
    @include justify-content(right);

    @include display(flex);
    @include flex-wrap(wrap);
    span{
        @include flex(1 1 auto);
        margin: auto 0 auto 0;
        text-align: center;
    }
}

.navButton{
    cursor: pointer;
}

.buttonContainer{
    @include justify-content(center);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

.btnCloud{
    cursor: pointer;
    margin: 0.2em 1em 0 1em;
    @include flex(0 1 15%);

    p{
        font-size: 15pt;
        font-weight: 800;
        font-family: sans-serif;
        text-align: center;
        margin: 0;
        padding:0;
    }
}

.activeCloud{
    color: #00bcd4;
}

.disabledCloud{
    color: #808080;
}

.appContent{
    position: relative;
    @include flex(1 0 50%);
    @include display(flex);
    @include flex-direction(column);
}

.cloudSvg {
    @include flex(1 1 50%);
}

.overlay{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
}

.opacityTransition{
    @include transition-property(opacity);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
}

.shadow{
    @include opacity(0.5);
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#tagBrowser{
    border-radius: 4px;
    color: black;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: white;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    // Side Bar
    aside{
        margin: 1em 0 1em 1em;
        @include flex(1 0 50pt);
        @include display(flex);
        @include flex-direction(column);
    }
    input{
        width: 100%;
    }
    ul{
        padding:0;
        list-style-type: none;
        overflow-y: auto;
        overflow-x: hidden;
        @include flex(1 1 80%);
    }
    li{
        cursor: pointer;
    }
    // Tag description
    section{
        overflow-y: auto;
        padding: 1em;
        margin: 10pt 0 10pt 0;
        @include flex(1 1 40%);
    }
}

@media (max-width : 480px){
    #tagBrowser{
        width: 100%;
        left: 0;
    }
    .appHeader{
        h1{
            font-size: 1.2em;
        }
    }
}

@media (max-device-height : 320px){
    #tagBrowser{
        height: 100%;
        top: 0;
    }
}

#infoBox{
    text-align: center;
    font-size: 0.8em;
    @include flex(0 0 auto);
    ol{
        list-style-type: none;
        margin-top: 5px;
        margin-bottom: 10px
    }
}

.cloudTag{
    cursor: default;
    transition: all 1s ease-in-out;
    transition-delay: 0.2s;
}

.cloudTagWrapper{
    transition: transform 1s ease-in;
    transition-delay: 0.2s;
}