body, html{
    background-color: black;
    color: white;
    height:100%;
    margin: 0;
}

#appHeader{
    h1{
        text-align: center;
        margin:0px;
    }
}

.cloudSvg {
    display: block;
    height: 85%;
    width: 100%;
    margin: auto;
}

#infoBox{
    text-align: center;
    ol{
        list-style-type: none;
        margin-top: 5px;
        margin-bottom: 10px
    }
}

.btnCloud{
    //box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
    //color: white;
    //border-radius: 20px;
    //padding: .5em 2em .5em 2em;
    margin: 0.2em 1.5em 0 1.5em;
    display: inline-flex;
    flex: 0 1 15%;

    p{
        font-size: 15pt;
        font-weight: 800;
        font-family: sans-serif;
        margin:0 auto 0 auto;
        padding:0;
    }
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
}

.activeCloud{
    color: #ff4081;
}

.disabledCloud{
    color: #00bcd4;
}

.cloudTag{
    transition: all 1s ease-in-out;
    transition-delay: 0.2s;
}

.cloudTagWrapper{
    transition: transform 1s ease-in;
    transition-delay: 0.2s;
}